.open-modal-button {
  background-color: #52796f;
  color: #cad2c5;
  width: 3.5rem;
  height: 3.5rem;
  border: none;
  border-radius: 50%;
  margin: 1rem;
  font-size: xx-large;
}

.open-modal-button:hover {
  background-color: #84a98c;
  color: #cad2c5;
}

@media (max-width: 900px) {
  .open-modal-button {
    width: 3rem;
    height: 3rem;
    margin: 2rem;
    font-size: x-large;
  }
}
