section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #cad2c5;
}

.app-container {
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  box-shadow: 0 0 100px #52796f;
  border-radius: 10px;
}

.list-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

h1 {
  font-family: "Cinzel Decorative", serif;
  font-size: 4rem;
  color: #52796f;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #84a98c;
}

.list-container {
  overflow-y: scroll;
  scrollbar-color: #52796f #cad2c5;
  scrollbar-width: thin;
  margin: 1rem;
}

li {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  color: #2f3e46;
  font-size: large;
}

li:hover {
  background-color: #84a98c;
  color: #cad2c5;
}

li:hover .item-options {
  visibility: visible;
}

.marker {
  margin-right: 0.5rem;
  margin-left: 4rem;
}

p {
  flex-grow: 1;
  margin-right: 1.5rem;
  padding: 1rem;
  margin-bottom: 0;
  margin-top: 0;
  text-align: justify;
  overflow: hidden;
  word-wrap: break-word;
  white-space: normal;
}

.completed {
  text-decoration: line-through;
}

.item-options {
  display: flex;
  margin-right: 2rem;
  visibility: hidden;
}

#deleteItem {
  margin-left: 0.7rem;
}

i {
  color: #2f3e46;
  cursor: pointer;
  font-size: 1.5rem;
}

i:hover {
  color: #cad2c5;
}

.button-container {
  margin-top: auto;
  align-self: flex-end;
}

footer {
  font-family: "Cinzel Decorative", serif;
  font-size: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  color: #2f3e46;
}

@media (max-width: 900px) {
  .app-container {
    height: 80vh;
    width: 100vw;
    box-shadow: none;
  }

  footer {
    position: fixed;
    bottom: 0;
    left: 0;
  }

  .list-container {
    overflow-y: scroll;
    scrollbar-color: #52796f #cad2c5;
    scrollbar-width: thin;
  }

  li {
    display: flex;
    align-items: center;
    margin: 0;
  }

  li:hover {
    background-color: transparent;
    color: #2f3e46;
  }

  .item-options {
    display: flex;
    margin-right: 1rem;
    visibility: visible;
  }

  #checkItem {
    color: #52796f;
  }

  #deleteItem {
    color: rgb(197, 0, 0);
  }

  .marker {
    margin-right: 0;
    margin-left: 2rem;
    font-size: xx-large;
  }

  p {
    margin-right: 2rem;
  }
}
